<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:label="ROTEH"
        android:icon="@mipmap/ic_launcher">

        <!-- Google Maps API KEY (IMPORTANT) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDdZwBODjZrztUHv-3aocywA8kpdULu5E8"/>

    </application>

</manifest>